//
// Set variables

// ==========================================================================
// Color
// ==========================================================================

$bibliofil: #4d4d51;
$bibliofil-dark: #2c2c30;
$bibliofil-button: #5b9f50;

$color-standard-text: $white;
$charcoal-opacity-extra-dark: rgba(38, 38, 38, 0.8);
$text-input: #333;

$color-secondary: #5b9f50 !global;

$color-text: $white;

$color-text-link: $white;
$color-text-link-on-dark: $white;
$color-text-on-primary: $white;
$color-text-on-secondary: $white;
$color-topbar: #3e3e47 !global;
